@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Rock+Salt&display=swap');
/*CSS RESET*/
html{
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

/*MOBILE FIRST*/
body{
    background: url(https://raw.githubusercontent.com/tibormajzik/tibormajzik.github.io/main/pexels-photo-3722752.jpeg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: #F5FFC6;
    font-size: 1.8rem;
    padding: 0.8rem;
    font-family: 'Rock Salt', cursive;
}
section{
    display: flex;
    flex-direction: column;
}

.nav-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
}
 a{
        color: #DCD6F7;  
        font-family: 'Roboto Mono', monospace;
        padding: 2px;
        text-decoration: none;
    }
    
    a:hover{
        text-decoration: underline;
    }
    

h2{
    color: #F5FFC6;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-family: 'Bebas Neue', cursive;
}

h3{
    color: #F5FFC6;
    font-size: 1.3rem;
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
}

p{
    color: #4B88A2;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
}

li{
    color: lightsteelblue;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    
}
form{
    display: flex;
    flex-direction: column;
}
fieldset{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.1rem;
    border: none;

}
input,textarea{
    display: flex;
    justify-content: space-evenly;
}
[type="submit"]{
    display: flex;
    flex-direction: column;
    text-align: center;   
}
#submit{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.2rem;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.2rem;
}

/* 576px - 768px, TABLET MODE */
@media only screen and (min-width: 576px){
      
    h1{
        font-size: 1.9rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .nav-flex{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        background-size: 100vw 20rem;
        
    }

    a{
        justify-self: center;
    }
}

/* >768px, dESKTOP MODE */
@media only screen and (min-width: 768px){
    body{
        background: url(https://raw.githubusercontent.com/tibormajzik/tibormajzik.github.io/main/pexels-photo-3722752.jpeg) center center no-repeat;
        background-size: cover;    
    }
    
    h1{
        padding: 0.8rem;
        font-size: 2rem;
    }
    
    h2{
        color: #F5FFC6;
        font-size: 1.8rem;
        padding: 0.8rem;
        font-family: 'Bebas Neue', cursive;
    }
    
    h3{
        color: #F5FFC6;
        font-size: 1.6rem;
        padding: 0.5rem;
        font-family: 'Bebas Neue', cursive;
    }
    
    .nav-flex{
            display: flex;
            flex-direction:  row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 200px; 
            background-size: 100vw 300px;
        }
    
    section{
        color:lightsteelblue;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto Mono', monospace;
        margin: 10px;
    }
    
    li{
        color: lightsteelblue;
        font-family: 'Roboto Mono', monospace;
        margin: 10px;
    }
    
    footer{
        color: lightsteelblue;
        font-family: 'Bebas Neue', cursive;
        padding: 1.2rem;
    }
    
    a{
        color: #DCD6F7;  
        font-family: 'Roboto Mono', monospace;
        padding: 2px;
        text-decoration: none;
    }
    
    a:hover{
        text-decoration: underline;
    }
    
    #logo{
        border-radius: 50%;
        
    }
    
    #logo:hover{
        transition: 1s;
        background-color: rgba(46, 158, 206, 0.8);
    }
    
    fieldset{
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: none;
    }
    
    input, textarea{
        display: flex;
    }
    
    #submit{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1.2rem;
    }
    form{
        display: inline-block;
    }
}    