@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Rock+Salt&display=swap');
/* CSS RESET */
html{
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 400px;
    box-sizing: border-box;
}

/* Mobile first design */
body{
    background: url(pexels-amol-mande-2684011.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1{
color: #F5FFC6;
font-family: 'Rock Salt', cursive;
padding: 0.8rem;
font-size: 1.8rem;
}

h2{
    color: #F5FFC6;
    font-family: 'Bebas Neue', cursive;
    padding: 0.5rem;
    font-size: 1.4rem;
}

h3{
    color: #F5FFC6;
    font-size: 1.3rem;
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
}

p{
    color: rgb(0, 187, 255);
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
}

section{
    color:lightsteelblue;
    font-family: 'Roboto Mono', monospace;
}    

li{
    color: lightsteelblue;
    font-family: 'Roboto Mono', monospace;
    margin: 10px;
}

a{
    color: #ffc90f;  
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    text-shadow: 2px;
    font-size: 1.2rem;
    margin: 0.1rem;
   /* text-align: center;
    align-self: center; */
}

nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;

}

/* Banner */
header{
    background: url(kavill.jpg) center center no-repeat;
    background-size: 100vw 300px;
    height: 200px;
}

#logo{
    border-radius: 50%;
    
}

#logo:hover{
    transition: 1s;
    opacity: 0.7
}

.button-flex{
    background-color: #36372f;
    display: flex;
    border:  1px solid #ffc90f;
    margin: 1px;
    box-shadow: 1px 1px 1px 1px black;
    width: 9rem;
    justify-content: center;
    align-items: center;
}

.button-flex:hover{
    background-color: #6a6d58;
    transition: 0.2s;
}

form{
    display: flex;
    flex-direction: column;
    
}

input, textarea{
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem -0.3rem;
    
}

label{
    margin-left: -0.3rem;
}

fieldset{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.1rem;
    border: none;

}

[type="submit"]{
    display: flex;
    flex-direction: column;
    text-align: center;   
}

#submit{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.5rem;
}

.section-flex{
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.about-me{
    background: url(pexels-ujjwal-kishore-11047831.jpg) center center no-repeat;
    background-size: cover;
    margin: 0;
    /* background-attachment: fixed; */
}

.skills{
    background: url(pexels-killian-eon-2635595.jpg) center center no-repeat;
    background-size: cover;
    margin: 0;
    /* background-attachment: fixed; */
}

.projects{
    background: url(pexels-kelly-2898199.jpg) center center no-repeat;
    background-size: cover;
    margin: 0;

    
    /* background-attachment: fixed; */
}

.project{
    color: #ffffff;
}

.client{
    color: #9ba98a;
}

.clients{
    background: url(pexels-vivi-ansen-238218.jpg) center center no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.contact{
    background: url(pexels-nita-52910.jpg) center center no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

/* 576px - 768px */
@media only screen and (min-width: 576px){


h1{
    font-size: 1.9rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.5rem;
}
nav{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-size: 100vw 20rem;
    
}
a{
    justify-self: center;
}

}

/* >768px */
@media only screen and (min-width: 768px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.6rem;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 200px; 
        background-size: 100vw 300px;
    }
    form{
        display: inline-block;
    }

}